[Unit]
Description=Enable Wi-FI
After=lxc@android.service

[Service]
Type=oneshot
ExecStart=/usr/bin/droidian-yggdrasil-wlan-enable.sh

[Install]
WantedBy=multi-user.target
