Source: adaptation-volla-yggdrasil
Maintainer: Erik Inkinen <erik.inkinen@erikinkinen.fi>
Section: metapackages
Priority: optional
Build-Depends: debhelper (>= 10)
Standards-Version: 4.5.0.3
Vcs-Browser: https://github.com/droidian-devices/adaptation-volla-yggdrasil
Vcs-Git: https://github.com/droidian-devices/adaptation-volla-yggdrasil.git

Package: adaptation-volla-yggdrasil
Architecture: all
Depends: ${misc:Depends},
         linux-bootimage-volla-yggdrasil,
         adaptation-hybris-api28-phone,
         adaptation-volla-yggdrasil-configs,
         droidian-camera,
Description: adapatation-volla-yggdrasil - meta
 Volla Phone api28 adaptation metapackage

Package: adaptation-volla-yggdrasil-configs
Architecture: all
Depends: ${misc:Depends},
         adaptation-volla-yggdrasil (= ${binary:Version}),
Description: Volla Phone's specific adaptation configs
